<%= form_tag(search_user_products_path(@user), method: :get, remote: true, id: "search-form") do %>
  <section class='form log_in'>
    <div class="field">
      <%= text_field_tag :search, params[:search], class: "field", placeholder: "Search Products...", id: "search-bar" %>
      <%= hidden_field_tag :user_id, @user.id %>
    </div>
    <%= submit_tag "Search", class: "create_button" %>
    <p><%= link_to "Analitycs", user_search_queries_url(@user.id), class: "create_button" %></p>
  </section>
<% end %>

<h1>Products</h1>

<div class="products-container", id="products-list-container">
  <%= render partial: "products_list", locals: { products: @products } %>
</div>
